<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

</head>
<body style="font:'Georgia', Arial;margin: 0px; width: 600px;">
<div style="color: #484870;background:#DDCCB1; border-bottom:4px solid  #88C; padding: 2px 25px;font-style: italic;">

       <span style="font-size: 1.8em;font-weight: bold;"><a href="{{ request.url_root }}"><img height="" src="{{ request.url_root }}{{url_for('static',filename='img/logo.m.gif')}}" title="Bitcoin Futures Exchange"/></a>
           Bitcoin Futures Exchange   </span></div>
<div style="font-size:1.1em;margin: 5px 30px;color: #4f4f4f">{% block content %}{% endblock %}
<p>If you have any questions or advices, Please do not hesitate to contact us.</p></div>

<div style="background:#222; color:#FFF; text-align:center;padding: 5px; margin-top:40px;">
    CopyRight 2012 BTCFE.com
</div>
</body>
</html>