<!DOCTYPE html>
<html>
<head>
    <title>BTCFE.com</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/__wrap.js')}}"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
       <link type="text/css" href="{{url_for('static',filename='css/reset.css')}}" rel="stylesheet" />
    <!-- <link type="text/css" href="{{url_for('static',filename='css/text.css')}}" rel="stylesheet" />-->
    <link type="text/css" href="{{url_for('static',filename='css/960.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/skin1.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/__wrap.css')}}" rel="stylesheet" />

    {% block thead %}{% endblock %}{% block head %}{% endblock %}
</head>
<body>
<div id="infobar">
    <div class="container_16">
        <a class="modalInput contact" title="Contact Us" rel="#feedback_overlay" href="#feedback"></a>
        <div class="scrollable" style="height:25px;">
            <div class="items ver">
                {% for a in twt['ann'] %}
                    <div class="grid_16 alpha omega"> {{ a.created_at|f("D","%d%b") }}  <span class="twt_text"> {{ a.text }}</span>
                    <span> <a href="https://twitter.com/intent/tweet?in_reply_to={{ a.id_str }}"  class="twt_reply"></a>
                    <a href="https://twitter.com/intent/retweet?tweet_id={{ a.id_str }}"  class="twt_retweet"></a>
                    <a href="https://twitter.com/intent/favorite?tweet_id={{ a.id_str }}" class="twt_favor"></a></span>
                    </div>
                {% else %}
                <div class="grid_16 alpha omega">Welcome to Bitcoin Futures Exchange <span class="twt_text">BTCFE.com</span></div>
                {% endfor %}
            </div>
        </div>

    </div>
    <!--todo feedback dialog: help,bug report, advice-->
</div>
<div id="titlebar">
    <div class="container_16">
        {% block title %}{% endblock %}
        {% block extitle %}{% endblock %}
    </div>
</div>
<div class="body">
    <div class="container_16">
        {% for category,message in get_flashed_messages(with_categories=True) %}
            <div class="msg_{{ category }}">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
    <div class="modal F" id="feedback_overlay">
        <!-- the external content is loaded inside this tag -->
        <h3>Feed Back</h3>
        <form>
            <input type="text">
            <input type="text">
            <textarea name="text" rows="10" cols="80"></textarea>
            <input type="submit">
        </form>

    </div>
</div>
<div id="footer">
    <div class="container_16">CopyRight 2012 BTCFE.com
    </div>
</div>

</body>
</html>

