<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>BTCFE.com - Bitcoin Futures Exchange</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/jquery.tools.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/__wrap.js')}}"></script>
    <script src="{{url_for('static',filename='js/highstock.js')}}"></script>
    <script src="{{url_for('static',filename='js/hs.exporting.js')}}"></script>
       <link type="text/css" href="{{url_for('static',filename='css/reset.css')}}" rel="stylesheet" />
    <!-- <link type="text/css" href="{{url_for('static',filename='css/text.css')}}" rel="stylesheet" />-->
    <link type="text/css" href="{{url_for('static',filename='css/960.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/skin1.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/__wrap.css')}}" rel="stylesheet" />


    {% block thead %}{% endblock %}{% block head %}{% endblock %}
    <!--[if lt IE 7]>
        		<script type="text/javascript" src="{{url_for('static',filename='js/unitpngfix1.js')}}"></script>
	<![endif]-->
</head>
<body>
<div id="infobar">
    <div class="container_16">

        <span class="topleft"></span>
        <span class="topright"><a class="modalInput contact" title="Contact Us" rel={% if 'user_id' in session %}"#feedback_overlay"{% else %}"#feedback_nolog"{% endif %} href="#feedback"></a></span>
        <div class="scrollable ver" style="height:25px;">
            <div class="items" >
                {% for a in twt['ann'] %}
                    <div > {{ a.created_at|f("D","%d%b") }}  <span class="twt_text"> {{ a.text }}</span>
                    <span> <a href="https://twitter.com/intent/tweet?in_reply_to={{ a.id_str }}"  class="twt_reply"></a>
                    <a href="https://twitter.com/intent/retweet?tweet_id={{ a.id_str }}"  class="twt_retweet"></a>
                    <a href="https://twitter.com/intent/favorite?tweet_id={{ a.id_str }}" class="twt_favor"></a></span>
                    </div>
                {% else %}
                <div >Welcome to Bitcoin Futures Exchange <span class="twt_text">BTCFE.com</span></div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<div id="titlebar">
    <div class="container_16">
        {% block title %}{% endblock %}
        {% block extitle %}{% endblock %}
    </div>
</div>
<div class="body">
    <div class="container_16">
        {% for category,message in get_flashed_messages(with_categories=True) %}
            <div class="msg_{{ category }}">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
    <div class="modal" id="feedback_overlay">
        <!-- the external content is loaded inside this tag -->
        <h4>Feed Back</h4>
        <form action="{{ url_for('feedback') }}" method=post><input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <table><tr><th>Category</th><td><input tabindex="1" type="radio" name="category" value="Question" id="fb_tq" checked="checked"/><label for="fb_tq">Question</label>　
            <input tabindex="2" type="radio" name="category" value="Bug Report" id="fb_tb" /><label for="fb_tb">Bug Report</label>
            <input tabindex="3" type="radio" name="category" value="Advice" id="fb_ta" /><label for="fb_ta">Advice</label>　　
            </td></tr>
            <th>Message</th><td><textarea name="msg" rows="13" style="width: 370px;" ></textarea></td>
            </table><button type=submit >Send</button>
        </form><h3><span class="form_result"><img src="{{url_for('static',filename='img/loading.gif')}}" alt=""></span></h3>
    </div>
    <div class="modal" id="feedback_nolog">
        <!-- the external content is loaded inside this tag -->
        <h4>Feed Back</h4>
        <br/>
            <h5>If you have any questions or advices, Please don't hesitate to tell us.</h5>
        <br/>
            <h5>Send mail to: <a href="mailto:{{ fbmail }}">{{ fbmail }}</a> </h5>
    </div>
</div>
<div id="footer">
    <div class="container_16">
    <div class="grid_14 prefix_1 suffix_1">
        <table><tr>
            <td>Market<br/><a href="{{ url_for('market',tab=0) }}">Open contracts</a><br/><a href="{{ url_for('market',tab=1) }}">New contracts</a><br/><a href="{{ url_for('market',tab=2) }}">Closed contracts</a></td>
            <td>Trade</td><td>Account<br/><a href="{{ url_for('account',tab=0) }}">General info</a><br/><a href="{{ url_for('account',tab=1) }}">Account history</a><br/><a href="{{ url_for('account',tab=2) }}">My contracts</a><br/><a href="{{ url_for('account',tab=3) }}">Security info</a></td>
            <td>Bitcoin<br/><a href="{{ url_for('bitcoin',tab=0) }}">Transfer in</a><br/><a href="{{ url_for('bitcoin',tab=1) }}">Transfer Out</a><br/><a href="{{ url_for('bitcoin',tab=2) }}">Transfer records</a></td>
            <td>Help<br/><a class="modalInput contact" title="Contact Us" rel={% if 'user_id' in session %}"#feedback_overlay"{% else %}"#feedback_nolog"{% endif %} href="#feedback">Feed back</a></td>
        </tr>


        </table>


        <div class="clear"></div>
        <div class="subheader"></div>
        CopyRight 2012 BTCFE.com
    </div>
    </div>
</div>

</body>
</html>

