{% extends "__wrap.html" %}
{% block thead %}
    <script type="text/javascript" src="{{url_for('static',filename='js/_ptitle.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/_ptitle.css')}}" rel="stylesheet" />
{% endblock %}
{% block title %}

    <div class="grid_9 ptlogo"><br/>
        <div class="grid_4 alpha omega"><a href="/"><img src="{{url_for('static',filename='img/logo.gif')}}" title="Bitcoin Futures Exchange"/></a></div>
        <div class="grid_5 alpha"><div class="logo"><div>The world's leading creative</div>Bitcoin Futures Exchange</div></div>
    </div>
    <div class="grid_7 ptlogin">
        <form class="login" action="{{ url_for('home',t='L') }}" method=post>
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <input type=email name=username value="{{ g.login_failed }}" style="width: 190px;" required="required" tabindex="1">
            <!--span class="placeholder">Email</span-->
            <input type=password name=password pattern="[\u0020-\u007e]+" style="width: 100px;" required="required" tabindex="2">
            <!--span class="placeholder">Password</span-->
            <button type=submit tabindex="3">LogIn</button>
            {% if g.login_failed %}
                <div class="login_failed">Username or Password is Incorrect. <a class="modalInput" rel="#recover_pass" href="#recover_pass">Lost password?</a></div><!--todo password recovery -->
            {% endif %}
        </form>
    </div>
    <div class="clear"></div>
    <div class="modal" id="recover_pass">
        <h2>Recovering your password</h2><br/><br/>
        <table><tr><th><h3>Please contact following Email to reclaim your user account. </h3>
        <h4>BTCFE.com@gmail.com</h4></th></tr></table>
        <!--table><tr><th>
        <form action="{{ url_for('home',t='R') }}" method=post>
            <p>Receive a password-reset link at following email address:</p>
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <h3><input type=email name=username value="{{ g.login_failed }}" size="18" required="required"></h3><br/>
        <input type=submit value="SEND">
        </form>
        <h3><span class="form_result"><img src="{{url_for('static',filename='img/loading.gif')}}" alt=""></span></h3>
        </th></tr></table-->
    </div>
{% endblock %}

