{% extends "__wrap.html" %}
{% block thead %}
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.event.drag-2.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/slick.core.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/slick.grid.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static',filename='js/_utitle.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/slick.grid.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/slick-default-theme.css')}}" rel="stylesheet" />

    <link type="text/css" href="{{url_for('static',filename='css/_utitle.css')}}" rel="stylesheet" />
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}
{% block title %}

<div class="grid_4 omega">
<a href="/"><img src="{{url_for('static',filename='img/logo.gif')}}" title="Bitcoin Futures Exchange"/></a>
</div>
<div class="grid_12 alpha">
    <div class="grid_6 alpha"><h2 class="logo">The world's leading creative <br/>Bitcoin Futures Exchange</h2></div>
    <div class=" binfo">
        {% if session.user_id %}
            <table><tr>
                <th >AssetTotal</th><td colspan="3" title="UnAct: {{g.u['bal_unact']|float }}">{{g.u.balance|float}} ({{g.u['bal_unconf']|float }}) </td>
            </tr><tr>
                <th >Available</th><td colspan="3">{{(g.u.balance + g.u.p_l - g.u.omargin - g.u.pmargin)|f }} ({{ g.u.p_l|float}}) </td>
            </tr>
            {% if g.u.pnum %}
                <tr><th>Positions</th><td> {{g.u.pnum}}</td><th>　　Margin</th><td>{{ g.u.pmargin|f}}</td></tr>
            {% endif %}{% if g.u.onum %}<tr>
                <th>　Orders</th><td> {{g.u.onum}}</td><th>　　Margin</th><td>{{ g.u.omargin|f}} </td></tr>
            {% endif %}</table>
        {% endif %}
    </div>
    <div class="clear"></div>
<div class="grid_12 alpha omega">
    <ul class="grid_7 alpha omega topnav">
        <li><a href="{{url_for('market')}}">Market</a></li>
        <li><a href="{{url_for('trade')}}">Trade</a></li>
        <li><a href="{{url_for('account')}}">Account</a></li>
        <li><a href="{{url_for('bitcoin')}}">Bitcoin</a></li></ul>
    <div class="topnavr">
        Welcome <strong> {{ session['email'] }}  <a class="logout" href = "/logout">Logout</a> </strong>
    </div>
</div></div>
{% endblock title %}
