{% extends "__wrap.html" %}
{% block thead %}
    <script type="text/javascript" src="{{url_for('static',filename='js/_utitle.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/_utitle.css')}}" rel="stylesheet" />
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}
{% block title %}

<div class="grid_8"><br/>
<a href="/"><img src="{{url_for('static',filename='img/logo.gif')}}"/></a>
</div>
<div class="grid_12">
    <div class="grid_6 alpha"></div>
    <div class="grid_6 omega binfo">
        {% if session.user_id %}
            <table><tr>
                <td>Asset</td><td colspan="2">{{g.u.balance|float}} ({{g.u['bal_unconf']|float }}, {{g.u['bal_unact']|float }}) </td>
            </tr><tr>
                <td>Avail</td><td colspan="2">{{(g.u.balance + g.u.p_l - g.u.omargin - g.u.pmargin)|f }} ({{ g.u.p_l|float}}) </td>
            </tr>
            {% if g.u.pnum %}
                <tr><td>Positions {{g.u.pnum}}</td><td> Margin</td><td>{{ g.u.pmargin|f}}</td></tr>
            {% endif %}{% if g.u.onum %}<tr>
                <td>Orders {{g.u.onum}}</td><td> Margin</td><td>{{ g.u.omargin|f}} </td></tr>
            {% endif %}</table>
        {% endif %}
    </div>
    <div class="clear"></div>
<div class="grid_12">
    <ul class="grid_7 alpha topnav">
        <li><a href="{{url_for('market')}}">Market</a></li>
        <li><a href="{{url_for('trade')}}">Trade</a></li>
        <li><a href="{{url_for('account')}}">Account</a></li>
        <li><a href="{{url_for('bitcoin')}}">Bitcoin</a></li></ul>
    <span class="grid_5 omega topnavr">
        Welcome <strong> {{ session['email'] }}  <a class="logout" href = "/logout">Logout</a> </strong>
    </span>
</div></div>
{% endblock title %}
