{% extends "base.html" %}
{% block content %}
<h2>Account</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

Position

<table>
<tr><th>Contract</th><th>B/S</th><th>Point</th><th>Lots</th><th>Cost</th><th>MarketValue</th><th>Profit/Loss</th><th>Margin</th><th>Close</th></tr>
{% for p in session['positions'] %}
    <tr>
    <td>{{cont[p.contract_id]['name']}}</td><td>{{p.buy_sell}}</td><td>{{p.price}}</td><td>{{p.lots}}</td><td>{{p.price|float * p.lots/cont[p.contract_id]['btc_multi']}}</td>
        <td>{{cont[p.contract_id]['latestpoint']*p.lots}}</td><td>{{(cont[p.contract_id]['latestpoint']-p.price|float/cont[p.contract_id]['btc_multi'])*p.lots}}</td>
        <td>{{cont[p.contract_id]['latestpoint']*p.lots*cont[p.contract_id]['leverage']}}</td>
        <td><a href="{{ url_for('trade',c = p.contract_id) }}"> × </a></td>
    </tr>
{% else %}
    <tr>None</tr>
{% endfor %}
</table>
<hr/>
BTC IN
your bitcoin address:
<h3>{{ session['address'] }}</h3>

{% endblock %}