{% extends "base.html" %}
{% block content %}
<h2>Account</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

Position

<table>
<tr><td>Contract</td><td>B/S</td><td>Lots</td><td>Cost</td><td>MarketValue</td><td>Margin</td></tr>
{% for p in pos %}
    <tr>
    <td>{{p.contract_name}}</td><td>{{p.buy_sell}}</td><td>{{p.lots}}</td><td>{{p.cost}}</td>
        <td>{{p.marketvalue}}</td><td>{{p.margin}}</td>
    </tr>
{% else %}
    <tr>None</tr>
{% endfor %}
</table>

{% endblock %}