<div class="grid_13 account_tab">
    <h4>Contracts' Life</h4>
    <div class="grid_12 alpha omega prefix_1">
        <div class=" homestep">1. Create a new contract</div>
        <div class=" homestep">2. Get approval & auto open at its open date</div>
        <div class=" homestep">3. Trade till settle date</div>
        <div class=" homestep">4. Closed, Submit settle point and proof</div>
        <div class=" homestep">5. Get settle approval & and settle all holding</div>
    </div>

    <a class="modalInput" rel="#edit_cont" href="#Edit">Create My Own Contract</a>
    <h4>My Contracts</h4>
    <table>

    {% for c in cont if cont[c].owner == session['email']%}
        {% if loop.first %}
        <tr><th>ID</th><th>Name</th><th>latestpoint</th><th>leverage</th><th>btc_multi</th><th>Open Date</th><th>Settle Date</th>
            <th>Full Name</th><th>Region</th><th>Sector</th><th>Twitter</th><th>Status</th><th>Action</th></tr>
        {% endif %}
        <tr>
        <td>{{c}}</td><td>{{cont[c].name}}</td><td>{{cont[c].latestpoint|f}}</td><td>{{cont[c].leverage|f}}</td><td>{{cont[c].btc_multi|f}}</td>
        <td>{{cont[c].opendate}}</td><td>{{cont[c].settledate}}</td><td>{{cont[c].fullname}}</td><td>{{cont[c].region}}</td>
        <td>{{cont[c].sector}}</td><td>{{cont[c].twitter_id}}</td><td>{{cont[c].status|f("C")}}</td>
        <td>{% if cont[c].status == 'O' %}<a href="{{ url_for('trade',c=c) }}"> Trade </a>
        {% elif cont[c].status == 'C' %}<a class="modalInput" rel="#settle_cont{{c}}" href="#Settle"> Settle </a>
            <div class="modal settle_cont" id="settle_cont{{c}}">
                <h3>Settle Contract</h3>
                <form action="{{ url_for('account',t='S') }}" method=post>
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}"><input type="hidden" name="id" value="{{ c }}">
                    <table>
                    <tr><th>Settle Point</th><td><input type=number name=settlepoint min=0 max=99999 required="required" value="{{ cont[c].settlepoint }}"></td></tr>
                    <tr><th>Settle Proof</th><td><textarea name="settleproof" rows="10" cols="40">{{cont[c].settleproof}}</textarea></td></tr>
                        <tr><th>Approval Instruction</th><td >{{cont[c].apinstruction}}</td></tr>
                        </table>
                        <input type="submit" value="SAVE" />
                </form>
            </div>

            {% elif cont[c].status == 'N' %}<a class="modalInput" rel="#edit_cont{{c}}" href="#Edit"> Edit </a>
            <div class="modal edit_cont" id="edit_cont{{c}}">
                <h3>Edit Contract</h3>
                <div class="modal_wrap">        <br/>
                    <form class="edit_cont_form" method=post>
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}"><input type="hidden" name="id" value="{{ c }}">
                        <table>
                            <tr><th>Code</th><td><input type=text name=code minlength="3" maxlength="6" required="required" value="{{ cont[c].code }}"></td>
                                <th>Open Date</th><td><input type=date name=opendate min=1 max=366 value="{{ cont[c].opendate }}" ></td>
                            <tr><th>Full Name</th><td><input type=text name=fullname value="{{cont[c].fullname}}"></td>
                                <th>Settle Date</th><td><input type=date name=settledate min=7 max=400 value="{{cont[c].settledate}}" ></td></tr>
                            <tr><th>Btc Multi</th><td><input type=number name=btc_multi min=0.000001 max=10000 required="required" value="{{cont[c].btc_multi}}"></td>
                                <th>Region</th><td><select name="region" >
                                    <option value="W" {% if cont[c].region == "W" %} selected="selected" {% endif %}>World Wide</option>
                                    <option value="N" {% if cont[c].region == "N" %} selected="selected" {% endif %}>North America</option>
                                    <option value="L" {% if cont[c].region == "L" %} selected="selected" {% endif %}>Latin America / Carib.</option>
                                    <option value="O" {% if cont[c].region == "O" %} selected="selected" {% endif %}>Oceania / Australia</option>
                                    <option value="M" {% if cont[c].region == "M" %} selected="selected" {% endif %}>Middle East</option>
                                    <option value="E" {% if cont[c].region == "E" %} selected="selected" {% endif %}>Europe</option>
                                    <option value="A" {% if cont[c].region == "A" %} selected="selected" {% endif %}>Asia</option>
                                    <option value="F" {% if cont[c].region == "F" %} selected="selected" {% endif %}>Africa</option>
                                </select></td>
                            <tr><th>Leverage</th><td><input type=number name=leverage min=0.1 max=1 required="required" value="{{cont[c].leverage}}"></td>
                                <th>Sector</th><td><select name="sector">
                                    <option value="C" {% if cont[c].sector == "C" %} selected="selected" {% endif %}>Currency</option>
                                    <option value="I" {% if cont[c].sector == "I" %} selected="selected" {% endif %}>Stock Index</option>
                                    <option value="M" {% if cont[c].sector == "M" %} selected="selected" {% endif %}>Commodity</option>
                                    <option value="S" {% if cont[c].sector == "S" %} selected="selected" {% endif %}>Sports</option>
                                    <option value="P" {% if cont[c].sector == "P" %} selected="selected" {% endif %}>Politic</option>
                                    <option value="E" {% if cont[c].sector == "E" %} selected="selected" {% endif %}>Entertainment</option>
                                    <option value="O" {% if cont[c].sector == "O" %} selected="selected" {% endif %}>Others</option>
                                </select></td></tr>
                            <tr><th>Twitter ID</th><td><input type=text name=twitter_id value="{{cont[c].twitter_id}}"></td></tr>
                            <tr><th>Description</th><td colspan="3">
                                <textarea name="description" rows="10" cols="60">{{cont[c].description}}</textarea></td></tr>
                            <tr><th>Approval Instruction</th><td colspan="3">
                                {{cont[c].apinstruction}}</td></tr>
                        </table>
                        <input type="button" value="SAVE" name="{{ url_for('account',t='C') }}" />
                        <input type="button" value="DELETE" name="{{ url_for('account',t='D') }}" />
                    </form><span class="form_result"><img src="{{url_for('static',filename='img/loading.gif')}}" alt=""></span>
                </div>
            </div>
            {% endif %}</td>
    </tr>
    {% else %}
        <tr><th>None</th></tr>
    {% endfor %}
    </table>
    <div class="modal edit_cont" id="edit_cont">
        <h3>Create a New Contract</h3>
        <div class="modal_wrap">        <br/>
            <form action="{{ url_for('account',t='C') }}" method=post>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}"><input type="hidden" name="id" value="0">
                <table>
                    <tr><th>Code</th><td><input type=text name=code minlength="3" maxlength="6" required="required"></td>
                        <th>Open Date</th><td><input type=date name=opendate min=1 max=366 value=2 ></td>
                    <tr><th>Full Name</th><td><input type=text name=fullname></td>
                        <th>Settle Date</th><td><input type=date name=settledate min=7 max=400 value=31 ></td></tr>
                    <tr><th>Btc Multi</th><td><input type=number name=btc_multi min=0.000001 max=10000 required="required"></td>
                        <th>Region</th><td><select name="region">
                            <option value="W" >World Wide</option>
                            <option value="N" >North America</option>
                            <option value="L" >Latin America / Carib.</option>
                            <option value="O" >Oceania / Australia</option>
                            <option value="M" >Middle East</option>
                            <option value="E" >Europe</option>
                            <option value="A" >Asia</option>
                            <option value="F" >Africa</option>
                        </select></td>
                    <tr><th>Leverage</th><td><input type=number name=leverage min=0.1 max=1 required="required"></td>
                        <th>Sector</th><td><select name="sector">
                            <option value="C" >Currency</option>
                            <option value="I" >Stock Index</option>
                            <option value="M" >Commodity</option>
                            <option value="S" >Sports</option>
                            <option value="P" >Politic</option>
                            <option value="E" >Entertainment</option>
                            <option value="O" >Others</option>
                        </select></td></tr>
                    <tr><th>Twitter ID</th><td><input type=text name=twitter_id></td></tr>
                    <tr><th>Description</th><td colspan="3">
                        <textarea name="description" rows="10" cols="60"></textarea></td></tr>
                </table>
                <input type=submit value=SAVE>
            </form><span class="form_result"><img src="{{url_for('static',filename='img/loading.gif')}}" alt=""></span>
        </div>
    </div>
</div>