
    <h4>Contracts' Life</h4>
    <div class="grid_12 alpha omega prefix_1">
        <div class=" homestep">1. Create a new contract</div>
        <div class=" homestep">2. Get approval & auto open at its open date</div>
        <div class=" homestep">3. Trade till settle date</div>
        <div class=" homestep">4. Closed, Submit settle point and proof</div>
        <div class=" homestep">5. Get settle approval & and settle all holding</div>
    </div>


    <div class="clear"></div>
    <a name="0" class="modalInputF button" rel="#edit_cont" href="/contract?t=e">Create My Own Contract</a>
    <h4>My Contracts</h4>
    <table style="border: 1px solid #DDCCB1">
    {% for c in cont if cont[c].owner == session['email']%}
        {% if loop.first %}
        <tr><th>Status</th><th>Name</th><th>Open Date</th><th>Settle Date</th>
            <th>Region</th><th>Sector</th><th>Twitter</th><th>Fees to Writer</th><th>Vol</th><th>Settle Margin</th><th>Action</th></tr>
        {% endif %}
        <tr>
        <td>{{cont[c].status|f("C")}}</td><td><a name="{{c}}" href="{{ url_for('contract',c=c) }}" class="modalInputF" rel="#cont_overlay" >
            {{cont[c].name}}</a></td>
        <td>{{cont[c].opendate|f("cd")}}</td><td>{{cont[c].settledate|f("cd")}}</td><td>{{cont[c].region|f("R")}}</td>
        <td>{{cont[c].sector|f("S")}}</td><td>{{cont[c].twitter_id}}</td><td>{{(cont[c].write_fee*2000)|f}}‰</td><td>{{cont[c].vol|f}}</td><td>{{ cont[c].settlemargin|f }}</td>
        <td>{% if cont[c].status == 'O' %}<a href="{{ url_for('trade',c=c) }}"> Trade </a>
        {% elif cont[c].status == 'C' %}<a class="modalInput" rel="#settle_cont{{c}}" href="#Settle"><button> Settle </button></a>
            <div class="modal settle_cont" id="settle_cont{{c}}">
                <h3>Settle Contract</h3>
                <form action="{{ url_for('account',t='S') }}" method=post>
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}"><input type="hidden" name="id" value="{{ c }}">
                    <table>
                    <tr><th>Settle Point</th><td><input type=number name=settlepoint min=0 max=99999 required="required" value="{{ cont[c].settlepoint }}"></td></tr>
                    <tr><th>Settle Proof</th><td><textarea name="settleproof" rows="10" cols="40">{{cont[c].settleproof}}</textarea></td></tr>
                        <tr><th>Approval Instruction</th><td >{{cont[c].apinstruction}}</td></tr>
                        </table>
                        <input type="submit" value="SAVE" />
                </form>
            </div>
            {% elif cont[c].status == 'N' %}
            <a name="{{ c }}" class="modalInputF" rel="#edit_cont" href="/contract?t=e&c={{ c }}"><button> Edit </button></a>

            {% endif %}</td>
    </tr>
    {% else %}
        <tr><th>None</th></tr>
    {% endfor %}
    </table>
    <div class="modal F" id="edit_cont">
        <div class="cont_wrap"></div>
    </div>
