{% extends "_utitle.html" %}
{% block head %}
    <script type="text/javascript" src="{{url_for('static',filename='js/account.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/account.css')}}" rel="stylesheet" />
{% endblock %}


{% block content %}

<div class="navi">
<ul class="submenu">
    <li><a href=0>General Info</a></li>
    <li><a href=1>Account History</a></li>
    <li><a href=2>My Contracts</a></li>
    <li><a href=3>Security Info</a></li>
</ul>
    <div class="subheader">
        Effect Fee Rate
    </div>
     ( <em>{{ (g.u['feerate']*100)|f }}%</em> + Contract Fee ) × <em>{{ (g.u['returnrate']*100)|f }}% OFF</em>
        {% if g.u['s_coupon'] %}{% for sc in g.u['s_coupon'] if sc['ifactive'] == 1%} × <em> {{ (sc['coupon'] * 100)|f }}% OFF{% endfor %}</em> {% endif %}
    <br/><br/><div class="subheader"></div>
    <a class="modalInput button" rel="#invite_friend" href="#invite_friend" style="margin-right: 25px;">Invite Friends</a>
    <div class="modal" id="invite_friend">
        <h4>Invite your friends to join BTCFE</h4>
        <h5>As reward:</h5>
        <p>Your friend will get 6 × 10% OFF special coupon and some BTC in cash after his first trade;</p>
        <p>Your friends' trade volume will contribute to your discount coupon in the future.</p>
        <form name="invite" action="{{ url_for('account',t='I') }}" method=post class="invite">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            Email:<input type=email name="email" value="" style="width: 240px;" required="required"/><br/>
            <input type=submit value="Send Invite" {% if not g.u['invite'] %}disabled="disabled"{% endif %}> {{ g.u['invite'] }} left
        </form>
    </div>

</div>
<div class="grid_13 subm_tab">

<div class="grid_10 alpha ">
    <h4>
        Current Fee Rate: <em>{{ (g.u['feerate']*1000)|f }}‰</em>
    </h4>
    <p>Your trade fee rate is set from 2‰ to 0.7‰ based on your trade volume in last one month. </p>
    <p>The more you trade, the lower fee rate you get.</p>

    <div class="ginfo grid_6 push_1"><table>
        <tr><th>My Trade Volume</th><td> {{ g.u['tradevol'] |f }}</td></tr>

    <tr><th>My Fee Rate</th><td>{{ (g.u['feerate']*1000)|f }}‰</td></tr></table></div>
    <div class="clear"></div>

    <h4>
        This Month Fee Coupon: <em>{{ (g.u['returnrate']*100)|f }}% OFF</em>
    </h4>
    <p>You could use fee coupon and receive a fee discount return at the end of month.</p>
    <p>Your fee coupon of this month is set from 10% to 80% based on you and your friends' trade volume in last one month.</p>
    <p> The more friends you get, the higher fee coupon you get.</p>
    <div class="ginfo grid_6 push_1"><table>
        <tr><th>Num of My Friends</th><td> {{ g.u['rnum'] |f }}</td></tr>
        <tr><th>My Friends' Trade Volume</th><td> {{ g.u['rtradevol'] |f }}</td></tr>
        <tr><th>My Effective Trade Volume</th><td> {{ (g.u['tradevol'] + g.u['rtradevol'])|f }}</td></tr>
        <tr><th>Fee Return Rate</th><td>{{ (g.u['returnrate']*100)|f }}%</td></tr></table></div>

    <div class="clear"></div>
    {% if g.u['s_coupon']%}
        <h4>Special Coupon: {% for sc in g.u['s_coupon'] if sc['ifactive'] == 1%} <em>{{ (sc['coupon'] * 100)|f }}% OFF{% endfor %} </em></h4>
        <p>You could apply both of regular fee coupon and special coupon same time.</p>
        <div class="ginfo grid_7 push_1"><table>
            <tr><th>Coupon</th><th>Month</th><th>Comment</th>
                {% for sc in g.u['s_coupon']%}
                    <tr{% if sc['ifactive'] == 1 %} class="selected" {% endif %}>
                        <td> {{ (sc['coupon'] * 100)|f }}% OFF</td><td> {{  sc['month'] }} </td><td>{{ sc['comment'] }}</td></tr>
                {% endfor %}
        </table></div>

        <div class="clear"></div>
    {% endif %}

</div>

<div class="grid_3 alpha">
    <div class="subheader">Fee Schedule</div>
    <table style="border: 1px solid #DDCCB1"><tr><th>Volume</th><th>Fee Rate</th></tr>
        <tr{% if g.u['feerate']|float == 0.002 %} class="selected" {% endif %}><td>< 100</td><td>2.0‰</td></tr>
        <tr{% if g.u['feerate']|float == 0.0016 %} class="selected" {% endif %}><td>< 200</td><td>1.6‰</td></tr>
        <tr{% if g.u['feerate']|float == 0.0013 %} class="selected" {% endif %}><td>< 500</td><td>1.3‰</td></tr>
        <tr{% if g.u['feerate']|float == 0.0011 %} class="selected" {% endif %}><td>< 1 K</td><td>1.1‰</td></tr>
        <tr{% if g.u['feerate']|float == 0.001 %} class="selected" {% endif %}><td>< 2 K</td><td>1.0‰</td></tr>
        <tr{% if g.u['feerate']|float == 0.0009 %} class="selected" {% endif %}><td>< 5 K</td><td>0.9‰</td></tr>
        <tr{% if g.u['feerate']|float == 0.0008 %} class="selected" {% endif %}><td>< 10 K</td><td>0.8‰</td></tr>
        <tr{% if g.u['feerate']|float == 0.0007 %} class="selected" {% endif %}><td>>= 20 K</td><td>0.7‰</td></tr></table>
    <div class="subheader">Monthly Coupon</div>
    <table style="border: 1px solid #DDCCB1"><tr><th>Volume</th><th>Coupon</th></tr>
        <tr{% if g.u['returnrate']|float == 0.1 %} class="selected" {% endif %}><td>< 100</td><td>10% OFF</td></tr>
        <tr{% if g.u['returnrate'] |float== 0.2 %} class="selected" {% endif %}><td>< 400</td><td>20% OFF</td></tr>
        <tr{% if g.u['returnrate'] |float== 0.3 %} class="selected" {% endif %}><td>< 1.5 K</td><td>30% OFF</td></tr>
        <tr{% if g.u['returnrate'] |float== 0.4 %} class="selected" {% endif %}><td>< 5 K</td><td>40% OFF</td></tr>
        <tr{% if g.u['returnrate'] |float== 0.5 %} class="selected" {% endif %}><td>< 20 K</td><td>50% OFF</td></tr>
        <tr{% if g.u['returnrate'] |float== 0.6 %} class="selected" {% endif %}><td>< 100 K</td><td>60% OFF</td></tr>
        <tr{% if g.u['returnrate'] |float== 0.7 %} class="selected" {% endif %}><td>< 500 K</td><td>70% OFF</td></tr>
        <tr{% if g.u['returnrate'] |float== 0.8 %} class="selected" {% endif %}><td>>= 2 M</td><td>80% OFF</td></tr></table>
</div>

<div class="clear"></div>
</div>

<div class="grid_13 omega subm_tab">

<h4>Transaction History</h4>
    <!--todo addd user asset chart, base of user balance table data-->
    <div class="grid_13 alpha omega" id='acc_his_grid' ></div>
    <img src="{{ url_for('static',filename='img/loading.gif') }}">
  <div class="clear"></div>
</div>
<div class="grid_13 omega subm_tab">
    {% include "account.cont.html" %}
</div>
<div class="grid_13 subm_tab">
    <h4>Account Status</h4>
    <div class="ginfo grid_6 alpha omega "><table><tr><th>Trade Password</th><td><img src="{{url_for('static',filename='img/_i_Y.png')}}"></td><td><button class="modalInput" rel="#set_pass">Reset</button></td></tr>
        <tr><th>Email Validate</th><td><img src="{{url_for('static',filename='img/_i_' + g.u['email_v'] +'.png')}}"></td>
            <td>{% if g.u['email_v'] == 'N' %}<button class="modalInput" rel="#valid_mail">Validate</button>{% endif %}</td></tr>
        <tr><th>Capital Password</th><td><img src="{{url_for('static',filename='img/_i_' + g.u['password2'] +'.png')}}"></td><td><button class="modalInput" rel="#set_cpass">Reset</button></td></tr></table></div>
    <div class="grid_6 prefix_1 alpha omega">
        <p>Trade Password: for login and trade</p>
        <p>Validate Email: for reset password if lost password</p>
        <p>Capital Password: for Bitcoin Withdraw</p>
    </div>
    <div class="clear"></div>
    <h4>Access Log</h4>
    <table style="border: 1px solid #DDCCB1">
        <tr><th>Timestamp</th><th>Action</th><th>IP Address</th><th>Approximate Location</th><th>Times</th></tr>
        {% for l in g.u['log'] %}
            <tr>
                <td>{{ l.timestamp }}</td><td>{{ l.action }}</td><td class="ip">{{ l.ip }}</td><td>...</td><td>{{ l.times }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="modal" id="set_pass">
    <h4>Reset Password</h4>
        <br/>
        <form action="{{ url_for('account',t='P') }}" method=post>
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <table>
                <tr><th>Current password</th>
                <td><input type="password" name="opassword" pattern="[\u0020-\u007e]+" value="" minlength="6"/></td></tr>
                <tr><th>New password</th>
                <td><input type="password" name="password" pattern="[\u0020-\u007e]+" value="" minlength="6" /></td></tr>
                <tr><th>Confirm new Password</th>
                <td><input type="password" name="password2" pattern="[\u0020-\u007e]+" value="" data-equals="password"/></td></tr>
            </table><br/><input type=submit value=" RESET ">
        </form><h3><span class="form_result"><img src="{{url_for('static',filename='img/loading.gif')}}" alt=""></span></h3>
    </div>

    <div class="modal" id="valid_mail">
    <h4>Send Validate Email Again</h4><br/><table><tr><th>
        <h3><em>{{ session['email'] }}</em></h3><br/>
        <form action="{{ url_for('account',t='E') }}" method=post>
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <input type=submit value="Send me">
        </form></th></tr></table><h3><span class="form_result"><img src="{{url_for('static',filename='img/loading.gif')}}" alt=""></span></h3>
    </div>

    <div class="modal" id="set_cpass">
        <h4>Reset Capital Password</h4>
        <br/>
        <form action="{{ url_for('account',t='Q') }}" method=post>
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <table>
                <tr><th>Current password</th>
                    <td><input {% if g.u['password2']=='N' %}type="text" name="opassword" value="not set yet" readonly=readonly
                               {% else %} type=password name="opassword" pattern="[\u0020-\u007e]+" value="" minlength="6"{% endif %}/></td></tr>
                <tr><th>New capital password</th>
                    <td><input type="password" name="password" pattern="[\u0020-\u007e]+" value="" minlength="6" /></td></tr>
                <tr><th>Confirm new password</th>
                    <td><input type="password" name="password2" pattern="[\u0020-\u007e]+" value="" data-equals="password"/></td></tr>
            </table><br/><input type=submit value=" RESET ">
        </form><h3><span class="form_result"><img src="{{url_for('static',filename='img/loading.gif')}}" alt=""></span></h3>
    </div>
</div>
<!-- overlayed element -->
<div class="modal F" id="cont_overlay">
    <!-- the external content is loaded inside this tag -->
    <div class="cont_wrap"></div>
</div>
<script type="text/javascript">showtab({{ tab }})</script>

{% endblock %}