{% extends "wrap.html" %}
{% block head %}
    <script type="text/javascript" src="{{url_for('static',filename='js/base.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/base.css')}}" rel="stylesheet" />
{% endblock %}
{% block base %}
<div id="header">
<div class="container_12">
    <div class="grid_6">
    Bitcoin Futures Exchange<br/>
    <a href="/"><img src="{{url_for('static',filename='img/logo.gif')}}"/></a>
    </div>
    <div class="grid_6">
        {% if session.user_id %}
            <table><tr>
                <td>{{g.u.balance|float}} ({{g.u['bal_unconf']|float }}, {{g.u['bal_unact']|float }}) </td><td>BTC</td>
                <td>{{(g.u.balance|float + g.u.p_l|float - g.u.omargin|float - g.u.pmargin|float)|f }} </td><td>BTC Available</td>
            </tr><tr>
                <td>{{g.u.pnum}} Positions</td><td>{{ g.u.pmargin|f}}</td>
                <td>Margin</td><td>{{ g.u.p_l|f}}</td><td>Profit/Loss</td>
            </tr><tr>
                <td>{{g.u.onum}} Open Orders</td><td>{{ g.u.omargin|f}}</td>
                <td>Margin</td>
            </tr></table>
        {% endif %}
    </div>
    <div class="clear"></div>
    <div class="grid_8 topnav">
        <h3><ul class="navi">
            <li><a href="{{url_for('market')}}">Market</a></li>
            <li><a href="{{url_for('trade')}}">Trade</a></li>
            <li><a href="{{url_for('account')}}">Account</a></li>
            <li><a href="{{url_for('bitcoin')}}">Bitcoin</a></li></ul></h3>
    </div>
    <div class="grid_4  topnav">
    {% if session.user_id %}
        Welcome <strong> {{ session['email'] }}  </strong> | <a href = "/logout">Logout</a>
    {% else %} <a href = "/register">Create A New Account</a>
    {% endif %}
    </div>
</div>
</div>
<div id="body" class="container_12">

    {% for category,message in get_flashed_messages(with_categories=True) %}
        <div class="msg_{{ category }}">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}

</div>
{% endblock %}