<!doctype html>
<html>
<head>
    <title>BTCFE.com</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/base.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/reset.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/text.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/960.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/base.css')}}" rel="stylesheet" />
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script></head>
<body>
<div id="header">
<div class="container_12">
    <div class="grid_6">
    Bitcoin Futures Exchange
    <h1><a href="/">BTCFE.com</a></h1><p></p>
    </div>
    <div class="grid_6">
        {% if session.user_id %}
            <table><tr>
                <td>{{g.u.balance|float}} ({{g.u['bal_unconf']|float }}, {{g.u['bal_unact']|float }}) </td><td>BTC</td>
                <td>{{(g.u.balance|float + g.u['positions']|sum(attribute = 'p_l')|float - g.u['orders']|sum(attribute = 'margin')|float - g.u['positions']|sum(attribute = 'margin')|float)|f }} </td><td>BTC Available</td>
            </tr><tr>
                <td>{{g.u['positions']|length}} Positions</td><td>{{ g.u['positions']|sum(attribute = 'margin')|f}}</td>
                <td>Margin</td><td>{{ g.u['positions']|sum(attribute = 'p_l')|f}}</td><td>Profit/Loss</td>
            </tr><tr>
                <td>{{g.u['orders']|length}} Open Orders</td><td>{{ g.u['orders']|sum(attribute = 'margin')|f}}</td>
                <td>Margin</td>
            </tr></table>
        {% endif %}
    </div>
    <div class="clear"></div>
    <div class="grid_8 topnav">
        <h3><ul class="navi">
            <li><a href="{{url_for('market')}}">Market</a></li>
            <li><a href="{{url_for('trade')}}">Trade</a></li>
            <li><a href="{{url_for('account')}}">Account</a></li>
            <li><a href="{{url_for('bitcoin')}}">Bitcoin</a></li></ul></h3>
    </div>
    <div class="grid_4  topnav">
    {% if session.user_id %}
        Welcome <strong> {{ session['email'] }}  </strong> | <a href = "/logout">Logout</a>
    {% else %} <a href = "/register">Create A New Account</a>
    {% endif %}
    </div>
</div>
</div>
<div id="body" class="container_12">

    {% for category,message in get_flashed_messages(with_categories=True) %}
        <div class="msg_{{ category }}">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}

</div>
<div id="footer">
    <div class="container_12">CopyRight 2011</div>
</div>

</body>
</html>

