{% extends "_utitle.html" %}
{% block head %}
    <script type="text/javascript" src="{{url_for('static',filename='js/bitcoin.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/account.css')}}" rel="stylesheet" />
{% endblock %}
{% block content %}

<h3>{{ session['email'] }}</h3>
<div class="navi">
    <ul  id="bitcoinmenu">
    <li><a href=0>Transfer IN</a></li>
    <li><a href=1>Transfer OUT</a></li>
    </ul>
</div>

<div class="grid_11 push_1 bitcoin_tab">
<h3>Bitcoin Deposit</h3>
Please transfer Bitcoin to your unique address as follow:
<h2 ><span class="btcaddr"> {{ g.u['address'] }}</span></h2>
<br/><br/>
</div>

<div class="grid_11 push_1 bitcoin_tab">
<h3>Bitcoin Withdraw</h3>
<form class="btc_out" action="{{ url_for('bitcoin') }}" method=post>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <table>
        <tr><td>Address:</td>
        <td><input type=text name="address" value="" minlength="34" maxlength="34" size="42" required="required"/></td></tr>
        <tr><td>Amount:</td>
        <td><input type=number name="amount" value="" min=0.1 max={{(g.u.balance + g.u.p_l - g.u.omargin - g.u.pmargin)|f }} required="required"/></td></tr>
        <tr><td>Password:</td>
        <td><input type=password name="password" value="" size="24" required="required"/></td></tr>
        <tr><td>Capital Password:</td>
        <td><input type=password name="cpassword" value="" size="24" required="required"/></td></tr>
    </table><br/><input type=submit value=Transfer>
</form>
</div>
<div class="clear"></div>
<p>　</p>    　
{% endblock %}