{% extends "_utitle.html" %}
{% block head %}
    <script type="text/javascript" src="{{url_for('static',filename='js/bitcoin.js')}}"></script>
{% endblock %}
{% block content %}

<h3>{{ session['email'] }}</h3>
<div class="navi">
    <ul  id="bitcoinmenu">
    <li><a href=0>Transfer IN</a></li>
    <li><a href=1>Transfer OUT</a></li>
    </ul>
</div>

<div class="grid_11 push_1 bitcoin_tab">
<h3>Bitcoin Deposit</h3>
Please transfer Bitcoin to your unique address as follow:
<h2 ><span class="btcaddr"> {{ g.u['address'] }}</span></h2>
<br/>
</div>

<div class="grid_11 push_1 bitcoin_tab">
<h3>Bitcoin Withdraw</h3>
<form action="{{ url_for('account') }}" method=post>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <dl>
        <dt>Address:
        <dd><input type=text name="address" value="" />
        <dt>Amount:
        <dd><input type=number name="amount" value="" />
        <dt>Password:
        <dd><input type=password name="password" value="" />
        <dt>Capital Password:
        <dd><input type=password name="cpassword" value="" />
        <dd><input type=submit value=Transfer>
    </dl>
</form>

</div>

{% endblock %}