{% extends "_utitle.html" %}
{% block head %}
    <script type="text/javascript" src="{{url_for('static',filename='js/bitcoin.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/account.css')}}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="navi">
    <ul class="submenu">
    <li><a href=0>Transfer IN</a></li>
    <li><a href=1>Transfer OUT</a></li>
    <li><a href=2>Trans Record</a></li>
    </ul>

    <div class="subheader">
        My Account
    </div>
    {{ g.u['email'] }}
</div>

<div class="grid_11 push_1 omega subm_tab">
<h4>Bitcoin Deposit</h4>
    <br/><form>
Please transfer Bitcoin to your unique address as follow:
<h2 ><em> {{ g.u['address'] }}</em></h2>
<br/></form>
        <br/>
</div>

<div class="grid_11 push_1 omega subm_tab">
<h4>Bitcoin Withdraw</h4>
<form class="btc_out" action="{{ url_for('bitcoin') }}" method=post>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <table>
        <tr><th>Address:</th>
        <td><input type=text name="address" value="" minlength="34" maxlength="34" style="width: 360px;" required="required"/></td></tr>
        <tr><th>Amount:</th>
        <td><input type=number name="amount" value="" style="width: 150px;" min=0.0001 max={{(g.u.balance + g.u.p_l - g.u.omargin - g.u.pmargin)|f }} required="required"/></td></tr>
        <tr><th>Password:</th>
        <td><input type=password name="password" value="" pattern="[\u0020-\u007e]+" size="24" required="required"/></td></tr>
        <tr><th>Capital Password:</th>
            <td>{% if g.u['password2'] == 'Y' %}
        <input type=password name="cpassword" value="" pattern="[\u0020-\u007e]+" size="24" required="required"/>
        {% else %}<input value="not set yet" disabled="disabled"/>  <a href="{{ url_for('account',tab=3) }}">Set it before withdraw</a>
        {% endif %}
        </td></tr>
    </table><br/><input type=submit {% if g.u['password2'] == 'N' or (g.u.balance + g.u.p_l - g.u.omargin - g.u.pmargin <= 0) %} disabled="disabled" {% endif %} value="Transfer">
</form>
</div>

<div class="grid_13 omega subm_tab ">
    <h4>Bitcoin Transfer Records</h3>
    <table style="border: 1px solid #DDCCB1">
        {% for t in g.u['btctrans'] %}
        {% if loop.first %}<tr><th>TimeStamp</th><th>Type</th><th>Amount</th><th>Fee</th><th>Address</th><th>Conf</th></tr>
        {% endif %}
        <tr>
            <td>{{t.timestamp}}</td><td>{{t.type}}</td><td>{{t.amount|f}}</td><td>{{t.fee|f}}</td><td>{{t.address}}</td>
            <td rowspan="2"><img title="{{ ['Unconfirmed','Confirmed'][t.confirmed] }}" src="{{url_for('static',filename='img/_i_'+['N','Y'][t.confirmed]+'.png')}}" /></td></tr>
        <tr><td></td><th colspan="4">TxID:<span title="Bitcoin transaction ID" class="gr"> {{t.txid}}</span></th>
        </tr>
        {% else %}
        <tr><th>None</th></tr>
        {% endfor %}
    </table>
    <br/> <br/>
</div>

<div class="clear"></div>
<script type="text/javascript">showtab({{tab}});</script>
{% endblock %}