<div class="grid_9 alpha">
    {% if cont[c].status =='O' and 'user_id'in session %}<a class='button' href="{{ url_for('trade',c=c) }}">TRADE</a>{% endif %}
    <h4>{{cont[c].name}}</h4>
</div>
<div class="clear"></div>
<div class="scroll_wrap">
<div class="grid_9 alpha">
    <table>
        <tr><td style="width:160px;" rowspan="4"><h4>{{cont[c].latestpoint|f}}
            {% if cont[c]["ch"] in [0,''] %} <span class="gr">( - )</span>
            {% elif cont[c]["ch"] < 0%} <span class="dn">( {{ cont[c]["ch"] }} %)</span>
            {% else  %} <span class="up"> ( +{{ cont[c]["ch"] }} %)</span>{% endif %}</h4>
            {{cont[c].fullname}}</td>
            <th>status</th><td>{{cont[c].status|f("C")}}</td><th>open date</th><td>{{cont[c].opendate|f("cd")}}</td></tr>
        <tr><th>contract value</th><td>{{cont[c].btc_multi|f}} × point</td><th>settle date</th><td>{{cont[c].settledate|f("cd")}}</td></tr>
        <tr><th>margin rate</th><td>{{(cont[c].leverage*100)|f}}%</td><th>region</th><td>{{cont[c].region|f("R")}}</td></tr>
        <tr><th>fees to writer</th><td>{{(cont[c].write_fee*1000)|f}}‰</td><th>sector</th><td>{{cont[c].sector|f("S")}}</td></tr>

</table>

    <div id="contchart" style="height: 500px; min-width: 530px"></div>​
    <script type="text/javascript" src="{{url_for('static',filename='js/contract.js')}}"></script>

    <table><tr><th>contract definition</th><td>
        <textarea rows="8" cols="80" readonly="readonly">{{cont[c].description}}</textarea>
    </td><tr><th>settle point</th><td>{{ cont[c].settlepoint }}</td></tr>
        <tr><th>settle proof</th>
            <td colspan="2">
                <textarea rows="8" cols="80" readonly="readonly">{{cont[c].settleproof}}</textarea></td>
        </tr>
    </table>

</div>
<div class="grid_6 omega">
    <h5>{{cont[c].owner}}'s Twitter {{cont[c].twitter_id}}</h5>
    <ul class="twt">
        {% for a in twt[c] %}
            <li>{{ a.created_at|f("D","%d%b") }}  <span class="twt_text"> {{ a.text }}</span>
            <span> <a href="https://twitter.com/intent/tweet?in_reply_to={{ a.id_str }}"  class="twt_reply"></a>
                <a href="https://twitter.com/intent/retweet?tweet_id={{ a.id_str }}"  class="twt_retweet"></a>
                <a href="https://twitter.com/intent/favorite?tweet_id={{ a.id_str }}" class="twt_favor"></a></span>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="clear"></div>
<div class="grid_15">
<!--todo add more info eg. orderqueue-->
</div>
</div>
