<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link type="text/css" href="{{url_for('static',filename='css/reset.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/text.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/960.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet" />
</head>
<body>

<div class="header">
    <p>　</p>
    <p>　</p>
    <p>　</p>
</div>

<div class="body">
<div class="contex container_12">
    <div class="grid_5">
        <p>　</p>


    </div>
    <div class="grid_7">
    <img src="{{url_for('static',filename='img/home2.gif')}}"/>
    </div>


</div>

</div>
<div class="footer">

</div>
</body>
</html>