{% extends "_utitle.html" %}
{% block head %}
    <script type="text/javascript" src="{{url_for('static',filename='js/market.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/market.css')}}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="navi">

    <ul class="submenu">
        <li><a href=0>Open conts</a></li>
        <li><a href=1>New conts</a></li>
        <li><a href=2>Closed conts</a></li>
    </ul>
    <div class="subheader"> Top Contracts </div>

    <div class="scrollnavi"><a class="active"></a><a></a><a></a></div>
    <div class="scrollable" title="top">
        <div class="items hor">

            <div>
                Volume:
                <div id="top_v_grid" style="width:170px;height:100px;"></div>
            </div>
            <div>
                Up:
                <div id="top_u_grid" style="width:170px;height:100px;"></div>
            </div>
            <div>
                Down:
                <div id="top_d_grid" style="width:170px;height:100px;"></div>
            </div>

        </div>
    </div>
    <div class="subheader"></div>
    {% if 'user_id' in session %}
        <a class="button" href="{{url_for('account',tab=2)}}">Create My Own Contract</a>
    {% endif %}

</div>

<div class="grid_13 subm_tab">
    <h3>Open Contracts</h3>
    <div id='o_cont_grid' class="grid_13 alpha omega" style="height:500px;"></div>
</div>

<div class="grid_13 subm_tab">
    <h3>New Contracts</h3>
    <div id='n_cont_grid' class="grid_13 alpha omega" style="height:500px;"></div>
</div>

<div class="grid_13 subm_tab">
    <h3>Closed Contracts</h3>
    <div id='c_cont_grid' class="grid_13 alpha omega" style="height:500px;"></div>
</div>



<!-- overlayed element -->
<div class="modal F" id="cont_overlay">
    <!-- the external content is loaded inside this tag -->
    <div class="cont_wrap"></div>
</div>
{% endblock %}