{% extends "_ptitle.html" %}
{% block head %}
    <link type="text/css" href="{{url_for('static',filename='css/register.css')}}" rel="stylesheet" />
{% endblock %}

{% block extitle %}
    <div class="grid_9 push_4">
        <span class="menu"> Create A New Account</span>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}
<h3>Sign Up</h3>
    <div class="register grid_9 alpha" {% if type in ['C','A'] %} style="display:none"{% endif %}>
<form action="{{ url_for('register') }}" method=post>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}"> <input type="hidden" name="referrer" value="{{ session['referrer'] }}">
<table>
    <tr><td>E-mail:</td>
    <td><input type="email" name="username" value="{{ session['email'] }}" size="22" required="required" style="width: 300px;"/></td></tr>
    <tr><td>Password:</td>
    <td><input type="password" name="password" pattern="[\u0020-\u007e]+" minlength="6" size="22" required="required" style="width: 300px;"/></td></tr>
    <tr><td>Confirm Password:</td>
    <td>
    <input type="password" name="password2" size="22" pattern="[\u0020-\u007e]+" required="required" data-equals="password" style="width: 300px;"/></td></tr>
    <tr><td>Captcha:</td><td>
        <script type="text/javascript">
            var RecaptchaOptions = {theme : 'white'};
        </script>
        {% autoescape false %}{{ capthtml }}{% endautoescape %}
    </td></tr>
    <tr><td></td><td>
    <input type="submit" value=Register>{% if session['referrer'] %} √ {% endif %}</td></tr>
    </table></form>
</div>

<div class="create grid_9 push_2" {% if type != 'C' %} style="display:none"{% endif %}>
    Your account had been created successfully.
    <h2>Next step: Check your email: <em>{{ email }}</em> & validate your account</h2>
</div>

<div class="activate grid_9 push_2"  {% if type != 'A' %} style="display:none"{% endif %}>
    <h2>Your account had been activated.</h2>
    Next step: <a href="{{ url_for('bitcoin') }}"> Deposit Bitcoin </a>
</div>
{% endblock %}