{% extends "_ptitle.html" %}
{% block head %}
    <link type="text/css" href="{{url_for('static',filename='css/register.css')}}" rel="stylesheet" />
{% endblock %}

{% block extitle %}
    <div class="grid_9 push_4">
        <span class="menu"> {% if type == 'A' %}Activate My Account{% else %}Create A New Account{% endif %}</span>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}
<h3>{% if type == 'O' %}Join BTCFE.com Now{% else %}Congratulations!{% endif %}</h3>
<div class="register grid_12 push_1" {% if type != 'O' %}style="display:none"{% endif %}>
<form action="{{ url_for('register') }}" method=post>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    E-mail:<br/>
    <input type="email" name="username" value="{{ session['email'] }}" size="22" required="required" /><br/>
    Password:<br/><input type="password" name="password" minlength="6" size="22" required="required" /><br/>
    Confirm Password:<br/>
    <input type="password" name="password2" size="22" required="required" data-equals="password" /><br/>
    <input type="hidden" name="referrer" value="{{ session['referrer'] }}">
    <input type="submit" value=Register>{% if session['referrer'] %} √ {% endif %}
</form>
</div>

<div class="create grid_9 push_2" {% if type != 'C' %} style="display:none"{% endif %}>
    <h2>Your account had been created.</h2>
    Next step: Check your email & validate your account
</div>

<div class="activate grid_9 push_2"  {% if type != 'A' %} style="display:none"{% endif %}>
    <h2>Your account had been activated.</h2>
    Next step: <a href="{{ url_for('bitcoin') }}"> Deposit Bitcoin </a>
</div>
<p>　</p>
{% endblock %}