{% extends "base.html" %}
{% block content %}
<h2>Create a New Account</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('register') }}" method=post>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <dl>
        <dt>E-mail:
        <dd><input type=text name=username>
        <dt>Password:
        <dd><input type=password name=password>
        <dt>Confirm Password:
        <dd><input type=password name=password2>
        <dt>Referrer:
        <dd><input type=text name=referrer value="{{ session['referrer'] }}">
        <dd><input type=submit value=Register>
    </dl>
</form>
{% endblock %}