{% extends "__wrap.html" %}
{% block head %}
    <script type="text/javascript" src="{{url_for('static',filename='js/_utitle.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/_utitle.css')}}" rel="stylesheet" />
{% block head %}{% endblock %}
{% endblock %}



    <script type="text/javascript" src="{{url_for('static',filename='js/_utitle.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/_utitle.css')}}" rel="stylesheet" />
