{% extends "_utitle.html" %}
{% block head %}
    <script type="text/javascript" src="{{url_for('static',filename='js/trade.js')}}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/trade.css')}}" rel="stylesheet" />
{% endblock %}
{% block content %}
<h3 class="contheader"></h3>
<div class="grid_5">
    <table id="continfo">
    </table>
    <div class="subheader">Order Queue</div>
    <table id="oqueue">
    </table>
    <div class="subheader">Transactions</div>
    <table id="transhis">
    </table>
</div>
<div class="grid_11">
<div class="grid_8  push_1 trade B">
    <form action="{{ url_for('trade') }}" method=post>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <table><tr><td><span class="s_tbs">　</span>　　<label id="l_tb" for="t_b">BUY</label><input tabindex="1" type="radio" name="b_s" value="B" id="t_b" checked="checked"/>　
        <label id="l_ts" for="t_s">SELL</label><input tabindex="2" type="radio" name="b_s" id="t_s" value="S" />　</td>
            <td>Point:<input id="t_point" tabindex="4" type=number name="point" value="" size="15" min="0.01" required="required"/><br/></td></tr>
        <tr><td>   <span class="s_toc">　</span>     　<label for="contract">Cont:</label>
            <select tabindex="3" id="contract" name="contract_id">
                {% for ck in cont.keys() if cont[ck]['status']=='O' %}
                    <option value={{ck}} {% if ck == default_cid %} selected="selected" {% endif %} >{{cont[ck]['name']}}</option>
                {% endfor %}
            </select></td>
            <td>Lots:<input id="t_lots" tabindex="5" type=number name="lots" value="1" size="15" min="1" required="required"/><br/></td>
        </tr>
    </table><input class="submit" tabindex="6" type=submit value=" TRADE ">
    <div class="hr">　</div>
        p:<span title="Point" id="ts_point"></span> × l:<span title="Lots" id="ts_lots">-</span> × m:<span title="BTC Multi" id="ts_btc_multi"></span>
            = v:<span title="Value" id="ts_value"></span> , × le:<span title="Leverage" id="ts_leverage"></span> = mg:<span title="Margin" id="ts_margin">-</span>
</form>
</div>
<div class="clear"></div>
<div class="subheader">Active Orders</div>
    <div id='o_user_grid' ></div>

<div class="subheader">Current Holding</div>
    <div id='p_user_grid' ></div>
</div>
<div class="clear"></div>

<!-- overlayed element -->
<div class="modal F" id="cont_overlay">
    <!-- the external content is loaded inside this tag -->
    <div class="cont_wrap"></div>
</div>
{% endblock %}