{% extends "base.html" %}
{% block content %}
<h2>TRADE</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

<label for="ContractList">Contract:　</label>
<select id="ContractList" name="instrument" class="big">
    {% for con in contracts %}
        <option value="{{con.contract_id}}">{{con.name}}</option>
    {% endfor %}
</select>

    <p/>

<div class="tabs">
    <ul>
        <li><a href="#tabs-1">Buy</a></li>
        <li><a href="#tabs-2">Sell</a></li>
        <li><a href="#tabs-3">My Orders</a></li>
    </ul>
    <div id="tabs-1" >
        <form action="{{ url_for('trade') }}" method="POST">
            <p/><table>

            <tr>
                <td><label for="contract">Contract:</label><br /></td>
                <td><input disabled type="text" class = "contract" name="contract" value="" /></td>
            </tr><tr>
        </tr><tr>
            <td><label for="price">Price:</label><br /></td>
            <td><input type="number" name="price" value="" /></td>
        </tr><tr>
            <td><label for="lots">Lots:</label><br /></td>
            <td><input type="number" name="lots" value="" /></td>
        </tr><tr>
            <td></td>
            <td><input class="ui-button" type="submit" value="Buy" /></td>
        </tr>
        </table>
        </form>
    </div>
    <div id="tabs-2" >
        <form action="{{ url_for('trade') }}" method="POST">
            <p/><table>

            <tr>
                <td><label for="contract">Contract:</label><br /></td>
                <td><input disabled type="text" class = "contract" name="contract" value="" /></td>
            </tr><tr>
        </tr><tr>
            <td><label for="price">Price:</label><br /></td>
            <td><input type="number" name="price" value="" /></td>
        </tr><tr>
            <td><label for="lots">Lots:</label><br /></td>
            <td><input type="number" name="lots" value="" /></td>
        </tr><tr>
            <td></td>
            <td><input class="ui-button" type="submit" value="Sell" /></td>
        </tr>
        </table>
        </form>
    </div>

    <div id="tabs-3" >
        <table>
            <tr>
                <td>Order Time</td><td>B/S</td><td>Price</td><td>Amount</td><td>Order Time</td><td>Cancel</td>
            </tr>
            {% for o in session['orders'] %}
                <tr>
                <td>{{ o['order_id'] }}</td><td>{{ o['contract_id'] }}</td><td>{{ o['buy_sell'] }}</td><td>{{ o['price'] }}</td>
                    <td>{{ o['lots'] }}</td><td>{{ o['rm_lots'] }}</td><td>{{ o['createtime'] }}</td><td>Cancel</td></tr>
            {% endfor %}
        </table>
        </form>
    </div>

</div>

{% endblock %}