{% extends "base.html" %}
{% block content %}
<h2>TRADE</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

<form action="{{ url_for('trade') }}" method=post>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <dl>
        <dt>Buy/Sell:
        <dd><input type="radio" name="b_s" value="B" /> BUY <input type="radio" name="b_s" value="S" /> SELL
        <dt>Contract:
        <dd><select name="contract_id">
                {% for ck in contract.keys() %}
                    <option value="{{ck}}" {% if ck == default_cid %} selected="selected" {% endif %} >{{contract[ck]['name']}}</option>
                {% endfor %}
            </select>
        <dt>Point:
        <dd><input type=text name="point" value="" />
        <dt>Lots:
        <dd><input type=number name="lots" value="" />
        <dd><input type=submit value=Trade>
    </dl>
</form>
<h3>Open Orders</h3>
<table>
    <tr><th>Order Time</th><th>Contract</th><th>B/S</th><th>Price</th><th>Lots</th><th>Remain_Lots</th><th>Cancel</th></tr>
    {% for ok in session['orders'].keys() %}
        <tr><<td>{{ session['orders'][ok]['createtime'] }}</td><td>{{ contract[session['orders'][ok]['contract_id']]['name'] }}</td><td>{{ session['orders'][ok]['buy_sell'] }}</td>
            <td>{{ session['orders'][ok]['price'] }}</td><td>{{ session['orders'][ok]['lots'] }}</td><td>{{ session['orders'][ok]['rm_lots'] }}</td>
            <td><form action="{{ url_for('trade') }}" method="POST">
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <input type="hidden" name="orderid" value= "{{ok}}" />
                <button type="submit" value="cancel">﻿× </button>
            </form></td></tr>
    {% endfor %}
</table>



{% endblock %}