body  {    font: 13px/1.5 'Georgia', Arial, 'Liberation Sans', FreeSans, sans-serif;margin: 0;background-color: #F3F3F0;}
input,select,textarea  {  font:13px 'Georgia', Arial, 'Liberation Sans', FreeSans, sans-serif;}

h1,h2, h3, h4, h5   {  font-weight: normal; font-style: italic;margin: 1.2em 0px 6px 0px;}
h1 {    font-size: 25px;}
h2 {    font-size: 23px;}
h3 {    font-size: 21px;}
h4 {    font-size: 19px;}
h5 {    font-size: 16px;}
a {text-decoration: none;}
div#infobar {background:#EDCB94; color:#456; height: 25px;position: relative;}
div#infobar div.container_16 {background:#CBA;}
div#contchart    {margin-top: 7px; border-top: 1px solid gray;}
div#cont_overlay div.footer {border-top: 1px solid gray; margin: -15px 10px 12px 0px}
div#cont_overlay span.fullname {font-size: 0.8em;margin-left:20px;font-weight: normal; }
div#cont_overlay div.title h3 { font-style: normal;font-family:"Trebuchet MS",sans-serif;}
div#cont_overlay div.scroll_wrap h3 {margin: 15px 0px; font-style: normal;text-align: center;}
div#cont_overlay div.scroll_wrap h3 span {margin-left: 5px; font-size: 0.8em;}

div#footer  {background:#F3F3F0; text-align:center;padding: 15px;border-top: 1px solid #F0F0ED }
div#footer table td {width: 200px;padding-left: 20px;}
div#footer table a {color: #888;font-size: 0.9em;}
div#footer table a:hover   {color: #F22; }

div#infobar span.topleft   {width: 48px;height: 25px;float: left;
    background-color:#EDCB94;background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, right top, from(#EDCB94), to(#CBA));
    background-image:-moz-linear-gradient(left, #EDCB94, #CBA);
    background-image:-ms-linear-gradient(left, #EDCB94, #CBA);
    background-image:-webkit-gradient(linear, left top, right top, color-stop(0%, #EDCB94), color-stop(100%, #CBA));
    background-image:-webkit-linear-gradient(left, #EDCB94, #CBA);
    background-image:-o-linear-gradient(left, #EDCB94, #CBA);
    background-image:linear-gradient(left, #EDCB94, #CBA);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDCB94', endColorstr='#CCBBAA', GradientType=1); }
div#infobar span.topright  {width: 48px;height: 25px;float: right;background-color:#EDCB94;background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, right top, left top, from(#EDCB94), to(#CBA));
    background-image:-moz-linear-gradient(right, #EDCB94, #CBA);
    background-image:-ms-linear-gradient(right, #EDCB94, #CBA);
    background-image:-webkit-gradient(linear, right top, left top, color-stop(0%, #EDCB94), color-stop(100%, #CBA));
    background-image:-webkit-linear-gradient(right, #EDCB94, #CBA);
    background-image:-o-linear-gradient(right, #EDCB94, #CBA);
    background-image:linear-gradient(right, #EDCB94, #CBA);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCBBAA',endColorstr='#EDCB94', GradientType=1); }

div#infobar a.contact { position:absolute;float: right;width: 36px;height: 44px; margin-bottom: -22px; background: url(../img/_i_contact.png) no-repeat; }
div#infobar a.contact:hover {background: url(../img/_i_contact2.png) no-repeat }

div#titlebar{border-bottom:4px solid  #88C;background-color:#EDCB94;background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#EDCB94), to(#FFEAD0));
    background-image:-moz-linear-gradient(top, #EDCB94, #FFEAD0);
    background-image:-ms-linear-gradient(top, #EDCB94, #FFEAD0);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #EDCB94), color-stop(100%, #FFEAD0));
    background-image:-webkit-linear-gradient(top, #EDCB94, #FFEAD0);
    background-image:-o-linear-gradient(top, #EDCB94, #FFEAD0);
    background-image:linear-gradient(top, #EDCB94, #FFEAD0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDCB94', endColorstr='#FFEAD0', GradientType=0);}

div.body    {padding-bottom: 20px;background-color: white;}
div.msg_err, div.msg_suc,div.msg_message {padding:10px 10px 10px 45px;border-radius: 5px;float: right;border: 1px solid #CD0A0A;margin-top: 10px;display:none;
    background: #FEF1EC url(../img/_i_sad.png) 3% 50%  no-repeat; color: #CD0A0A;z-index: 999999;}
div.msg_suc {border: 1px solid #94c95a;background: #FBF9EE url(../img/_i_happy.png) 3% 50% no-repeat;color: #363636;}
div.modal .form_result  {display: none;}

.form_result.err    {padding:10px 10px 10px 45px;border-radius: 5px;border: 1px solid #CD0A0A;background: #FEF1EC url(../img/_i_sad.png) 3% 50%  no-repeat; color: #CD0A0A;}
.form_result.suc    {padding:10px 10px 10px 45px;border-radius: 5px;border: 1px solid #94c95a;background: #FBF9EE url(../img/_i_happy.png) 3% 50%  no-repeat; color: #363636;}

a:hover   {color: #F22; }
a.button    {font-family:"Trebuchet MS",sans-serif;font-size: 1.3em;float: right;margin:10px;padding:5px 10px 5px 10px;color:#FCA;background:#08A;border:2px solid #055;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #660;}
a.button:hover{background:#246;color:#FFF;}

div#feedback_overlay form {border: 1px solid #999;background-color: white; padding: 5px;margin: 0px 15px 0px 0px;text-align: center;}

.error {
    /* supply height to ensure consistent positioning for every browser */
    height:15px;
    background-color:#FFFDB6;
    border:1px solid #FEF1EC;
    font-size:11px;
    color:#000;
    padding:3px 10px;
    margin-left:-2px;
    z-index: 99999;

    /* CSS3 spicing for mozilla and webkit */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;

    -moz-box-shadow:0 0 6px #ddd;
    -webkit-box-shadow:0 0 6px #ddd;
}
.error em {
    display: block;
    width: 0;
    height: 0;
    border: 10px solid;
    position: absolute;
    bottom: 21px;
    left: 60px;
    border-color: transparent transparent #FFFDB6;
}
ul.twt li  {color: #666;margin-top: 5px;padding:5px;background:#EEE;}
span.twt_text   {color: #000;font-size:1.1em; }
/*ul.twt li::before {
    content: "♯";
    padding-left: 4px;
}*/
div.twt_follow a  {color:#F40;font-style: italic;float: right;margin-top:20px;padding-top: 15px;background-image:url(../img/bird_48_gray.png);
    background-repeat:no-repeat;background-position: center center;}
div.twt_follow a:hover    {background-image:url(../img/bird_48_blue.png)}
a.twt_reply,a.twt_retweet,a.twt_favor {margin-left:10px;padding: 8px;background-repeat:no-repeat;background-position: left center;}
a.twt_reply:hover,a.twt_retweet:hover,a.twt_favor:hover {background-position: right center;}
a.twt_reply     {background-image:url(../img/reply-sprite.png);}
a.twt_retweet   {background-image:url(../img/retweet-sprite.png);}
a.twt_favor     {background-image:url(../img/favorite-sprite.png);}
div.body table th {border:0px;text-align: right;color: gray;background-color: transparent;vertical-align: middle;padding: 2px;}
div.body table td {border:0px;text-align: left;vertical-align: middle;padding: 2px;}

span.up {color: #093; }
span.dn {color: #D14836; }
span.gr   {color: #888;font-style: italic;}

div.subheader   {border-top: 1px solid #DDD;font-size: 1.2em;font-weight: bold;margin:20px 0px 5px 0px;padding: 5px 0px;min-height: 1px; }