div.ptlogin  {margin:15px 5px 0px 15px; }
div.ptlogin input {font-size: 1.2em;border: 1px solid #db8616;background: #FFF;margin-left: -1px;padding: 5px;}

div.ptlogin button {height: 28px; border: none;background: #db8616;color: #fff;margin-left: -1px;filter:chroma(color=#000000);}

h2.logo  {color: #C23F00;margin-top: 2px;}
div.modal input     {font-size: 1.1em;padding: 8px;}

span.placeholder    {position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 2px;
    z-index: 1;
    height: 20px;
    padding: 4px;
    font-size: 13px;
    line-height: 20px;
    color: #999;}