
div.binfo {float:right;background:transparent url(../img/b.info.gif); border: 0;
    height: 82px;
    margin: 4px 1px 1px 17px;
    padding: 13px 0px 30px 15px; }
div.binfo>table {width: 100%;height: 100%;text-align: right;}

span.topnavr    {text-align: right;margin-top:8px; }
/*table       {width: 90%;border: solid 10px #e5e5e6;text-align: center;}*/

ul.topnav   {margin-left: -15px;}
ul.topnav li    {float: left;list-style: none;text-align: center;}
ul.topnav li.active a {background: #88C;color: #FF8;border-top: 2px solid #AA8;}
ul.topnav a     {font-family:"Trebuchet MS",sans-serif;font-size: 1.6em;padding: 5px 10px 5px 10px;}
ul.topnav a:hover   {color: #F22}

span.twt_time, span.twt_action a { color: #888;  font-size: 0.8em;}

div#body table {width:100%;border:1px solid #ccc;border-radius: 5px;    }

div.navi    {width:180px;height: 400px;float: left;background-color: #EEE;margin-right: 40px;}

div.navi li    {font-size:1.3em;margin:20px 0px 20px 35px;padding: 10px 0px 10px 0px; }
div.navi li a   {padding: 10px; }

div.bitcoin_tab {border:1px solid #ccc;border-radius: 5px;text-align: center; }
span.btcaddr  {background: #DDD;padding: 5px;}
a.logout    {font-family:"Trebuchet MS",sans-serif;padding:2px 5px 2px 5px;margin-left: 5px;
   }
a.logout:hover  {background: #88C;color: #FF8;}