
div.binfo {float:right;background:transparent url(../img/b.info.gif); border: 0;
    height: 72px;
    width: 248px;
    margin: 12px 20px -10px 17px;
    padding: 10px 15px 30px 15px; }

div#titlebar a img {margin-top: 10px;}
div.binfo table {width: 99%;height: 100%;}

div.binfo table td  {text-align: right;}
div.binfo table th  {text-align: left;color: #666;font-style: italic;font-family: Arial,sans-serif;}
div.topnavr    {text-align: right;margin-top:8px; }
/*table       {width: 90%;border: solid 10px #e5e5e6;text-align: center;}*/
div.logo  {color: #C23F00;margin-top: 10px;font-size: 1.6em;font-weight: bold;font-family: Arial,sans-serif;}
div.logo div{color: rgba(211, 98, 11, 0.75);margin-bottom: -2px;font-size: 0.7em;font-weight: normal;}

ul.topnav li    {float: left;list-style: none;text-align: center;}
ul.topnav li.active a {background: #88C;color: #FF8;border-top: 4px solid #CB9;}
ul.topnav a     {font-family:"Trebuchet MS",sans-serif;font-size: 1.4em;padding: 8px 12px 5px 12px;}
ul.topnav a:hover   {color: #F22}

span.twt_time, span.twt_action a { color: #888;  font-size: 0.8em;}

div.body table {width:100%;   }
/*div.body table td,div.body table th {padding: 4px;vertical-align: middle; text-align:right;}*/

div.navi    {width: 170px; float: left; margin-right: 10px;}

div.navi li    {font-family:"Trebuchet MS",sans-serif;font-size:1.2em;margin:20px 10px 10px 0px;padding: 5px 0px; }
div.navi li.active  {background-color:#EEF;border-left: 4px solid #77F;}
div.navi li.active a {color:#22F;}
div.navi li a   {color:#444;padding: 8px;margin-left: 5px; }
div.navi li a:hover {color:#F22;}

a.logout    {font-family:"Trebuchet MS",sans-serif;padding:2px 5px 2px 5px;  }
a.logout:hover  {background: #88C;color: #FF8;}
