div.navi    {width: 164px;
    height: 330px;
    float: left;
    background-color: #EEE;
    margin-right: 16px;}

div.navi li    {font-family:"Trebuchet MS",sans-serif;font-size:1.3em;margin:20px 0px 20px 25px;padding: 10px 0px 5px 0px; }
div.navi li.active  {background-color:#ABF;border-right: 4px solid #45F;}
div.navi li a   {padding: 8px; }

div.bitcoin_tab {border:1px solid #ccc;border-radius: 5px;text-align: center;background: url("../img/logo.s.gif") no-repeat 96% 92%;   }
h2 em,h3 em,h4 em  {background: #DDD;padding: 5px;}


div.account_tab p   {padding-left: 20px;margin-bottom:10px;font-size:1.1em; }
div.account_tab p:before {content: "\00BB \0020"; color: #888;margin-left: -10px;}
/*tr:before {content: " ";position: absolute; margin-left: -15px;padding-left: 10px;}*/
tr.selected  {border-left: 4px solid #F22;background-color: #FEF1EC;}
/*tr.selected>td>img  {margin-left: -30px;}*/
div.account_tab a.modalInput     {font-family:"Trebuchet MS",sans-serif;padding:2px 5px 2px 0px;font-size: 1.3em; border:1px solid #88C;border-radius: 5px;
                                float:right;margin-top: 20px;  }
div.account_tab a.modalInput:hover  {background: #88C;color: #FF8;}
div.account_tab a.modalInput:before {content: "\00BB \0020"; color: #888;margin-left: -10px;}
div.account_tab div.modal input {margin: 5px;}
div.account_tab div.modal select {font-size: 1.2em; padding: 5px;margin: 5px;}

input {font-size:1.2em;padding: 5px; margin: 10px; }
table.ginfo {font-size: 1.2em;}

form.btc_out    {font-size: 1.2em;margin: 20px 30px;}
form.btc_out tr td  {text-align: left;vertical-align:middle;}


div.homestep    {width: 98px; height: 72px;    float: left;margin: 15px 5px 30px 5px;padding: 11px 20px 16px 5px;
    background-image:url(../img/h.stepa.gif);}
span.stepinfo   {font-style: italic;color: #666;}
