div.msg_err {float: right;}
div.msg_suc {float: right;}

div.login   {border: solid 10px #e5e5e6; background: #BFB;}

body        {background: #EEE;}
div#header  {background: #ABF;}
div#body    {background: #FFF;margin-top: 20px;margin-bottom: 20px;}
div#footer  {text-align: center;}
div.trade   {border: solid 10px #e5e5e6;background: #BEF; }

table#continfo,#oqueue,#transhis
            {width: 90%;border: solid 10px #e5e5e6;background: #BEF;}