div#h_mid  {background:#FFF;  margin-top: -30px;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #666;
    behavior: url(ie-css3.htc); 	}
img[name=h_img]   {margin: -40px 0px -40px 0px;}
div.h_feature {background:#FFF; }
div.h_feature div.grid_1{text-align:center;}
div.homestep    {width: 98px; height: 72px;    float: left;margin: 15px 5px 15px 5px;padding: 11px 20px 16px 5px;
        background-image:url(../img/h.stepa.gif);}
span.stepinfo   {font-style: italic;color: #666;}
span.comment   {color: #666;}
div.h_news    {}
a[name=register]    {font-family:"Trebuchet MS",sans-serif;font-size: 1.4em;padding:5px 10px 5px 10px;color:#FCA;background:#08A;border:2px solid #055;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #660;}
a[name=register]:hover{background:#246;color:#FFF;}

ul.twt li  {color: #666;margin-top: 10px;padding:10px;background:#EEE;}
span.twt_text   {color: #000;font-size:1.2em; }
/*ul.twt li::before {
    content: "♯";
    padding-left: 4px;
}*/
div.twt_follow a  {color:#F40;font-style: italic;float: right;margin-top:20px;padding-top: 15px;background-image:url(../img/bird_48_gray.png);
    background-repeat:no-repeat;background-position: center center;}
div.twt_follow a:hover    {background-image:url(../img/bird_48_blue.png)}
a.twt_reply,a.twt_retweet,a.twt_favor {margin-left:10px;padding: 8px;background-repeat:no-repeat;background-position: left center;}
a.twt_reply:hover,a.twt_retweet:hover,a.twt_favor:hover {background-position: right center;}
a.twt_reply     {background-image:url(../img/reply-sprite.png);}
a.twt_retweet   {background-image:url(../img/retweet-sprite.png);}
a.twt_favor     {background-image:url(../img/favorite-sprite.png);}