div.register,div.activate,div.create     {padding:20px 30px;margin: 20px;font-size: 1.2em;border:1px solid #ccc;
    border-radius: 5px;  background: url("../img/logo.s.gif") no-repeat 96% 92%;   }
div.activate,div.create   {text-align: center;}
div.register input       {font-size: 1.2em;margin: 3px ;padding: 3px;}

span.menu     {font-family:"Trebuchet MS",sans-serif;font-size: 1.4em;padding: 5px 12px 5px 12px;background: #88C;color: #FF8;border-top: 2px solid #AA8;}