

div.trade   {border:1px solid #ccc; border-radius: 10px; padding: 10px;color:#FCC;}
div.trade.S {background:#A44;}
div.trade.B {background:#08A;}
div.trade span {color: #010;}
div.trade input[type=number],div.trade input[type=submit],#contract {font-size: 1.3em;margin: 15px 15px 5px 5px;padding: 5px;width: 130px;}
label#l_tb, label#l_ts {border:1px solid #ccc; font-size: 1.2em; background: #666;border-radius: 10px; padding: 5px 10px 5px 10px;margin:10px -2px 25px 0px;color:#Fcc;}

div.trade.B label#l_ts  {background:#E66;}
div.trade.S label#l_tb  {background: #2AA}
span.twt_time, span.twt_action a { color: #888;  font-size: 0.8em;}
label#l_toc {font-size: 1.2em;font-weight: bold;margin-left:10px}

span.s_toc.O  { background: url("../img/_i_O.png") no-repeat right ;padding: 6px;}

span.s_toc.C  {background: url("../img/_i_C.png") no-repeat right;padding: 6px;}

span.s_toc.O:before {
    content:"OPEN";
    padding-left: 4px;
}
span.s_toc.C:before {
    content:"CLOSE";
    padding-left: 4px;
}

div.trade.B span.s_tbs     { background: url("../img/_i_B.png") no-repeat right ;padding: 15px;}
div.trade.S span.s_tbs     { background: url("../img/_i_S.png") no-repeat right ;padding: 15px;}

div.body .slick-header-column {margin-left: 1px;}
.slick-cell {   border: none;}
.slick-cell img,table#transhis img {width: 24px;height: 24px;}

.slick-cell a[title=Cancel]     { padding:7px 12px;background-image:url(../img/_i_E.png);background-position: right bottom;}
.slick-cell a[title=Cancel]:hover{background-position: left bottom;}

table#oqueue,table#transhis    {margin:5px;width: 90%;border:1px solid #DDCCB1;}
table#oqueue div    {border: 1px solid #ddc781; }