__author__ = 'xiejian'

# configuration
DB = {
    'host': "192.168.131.7",
    'port': 3306,
    'user': 'root',
    'passwd': 'xj',
    'db': 'btcfe',
    }
SECRET_KEY = 'dev key'
DEBUG = True
INTERNAL_IP = ['127.0.0.1']
ADMIN = 'jian.xie@163.com'

mykey = 'X!eH0uyu'
email={
        'smtpadd': 'smtp.gmail.com:587',
        'passwd':   'xiej2024',
        'sendadd':  'btcfe.com@gmail.com',

}
http_proxy={'http': '192.168.168.122:8087'}

smtp = dict(host='smtp.gmail.com',port=587,mode='normal',login='btcfe.com@gmail.com',passwd='xiej2024',
        sender=(u'BTCFE','btcfe.com@gmail.com'),prefered_encoding='iso-8859-1',text_encoding='iso-8859-1')

