__author__ = 'xiejian'

# configuration
DB = {
    'host': "192.168.131.7",
    'port': 3306,
    'user': 'root',
    'passwd': 'xj',
    'db': 'btcfe',
    }
SECRET_KEY = 'dev key'
DEBUG = True
INTERNAL_IP = ['127.0.0.1']


mykey = 'X!eH0uyu'
email={
        'smtpadd': 'smtp.gmail.com:587',
        'passwd':   'xiej2024',
        'sendadd':  'btcfe.com@gmail.com',

}