__author__ = 'xiejian'

# configuration
DB = {
    'host': "192.168.131.7",
    'port': 3306,
    'user': 'root',
    'passwd': 'xj',
    'db': 'btcfe',
    }
SECRET_KEY = 'dev key'
DEBUG = True


mykey = 'X!eH0uyu'
email={
        'smtpadd': 'smtp.gmail.com:587',
        'passwd':   'xiej2024',
        'sendadd':  'btcfe.com@gmail.com',
        'msg':{
                'createuser':{
                    'subject':  'Welcome to BTCFE. Activate your account Plz.\n',
                    'foreword':  'Welcome to BTCFE. Please access the following URL to activate your BTCFE account\n\n',
                    'afterword': '\n\nIf you have any questions or advices, Please do not hesitate to contact us. \n'+ \
                                 'Thank you for your registration. Enjoy it.\n\n' + \
                                 'Regards,\n' + \
                                 'Your BTCFE Team'
                }
        }
}